p,
h1,
h2,
h3,
h4,
h5,
h6 {
        margin: 0;
}

ul {
        margin: 0;
        padding-left: 0;
}

img {
        display: block;
        width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #757575;
}

:root {
    --white-color: #FFFFFF;
    --dark-color: #212121;
    --grey-color: #757575;
    --blue-color: #2196F3;
    --icon-color: #AFB1B8;
}

.visually-hidden {
        position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
}

.container {
        width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
        /* outline: 2px solid tomato; */
}

.section {
        padding-top: 94px;
        padding-bottom: 94px;
}

/* ----------HEADER---------- */

.header {
    background-color: var(--white-color);
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;
}

.header .container {
        display: flex;
        align-items: center;
}

.header-nav {
        display: flex;
}

.header-logo {
        font-family: 'Raleway', sans-serif;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: #000000;
        margin-right: 93px
}

.logo-web {
        font-family: 'Raleway', sans-serif;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--blue-color);
}

.header-list {
        display: flex;
        align-items: center;
        column-gap: 50px;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.header-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--dark-color);
}

.header-link:hover,
.header-link:focus {
    color: var(--blue-color);
}

.header-contacts {
        margin-left: auto;
        display: flex;

}

.contacts-item-second {
        margin-left: 30px;
        fill: var(--grey-color);
}

.contacts-item-second:hover,
.contacts-item-second:focus {
        fill: var(--blue-color);
}

.contacts-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--grey-color);
        display: flex;
        justify-content: center;
        align-items: center;
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--blue-color);
}

.header-icon {
        margin-right: 10px;
}

.contacts-item {
        fill: var(--grey-color);
}

.contacts-item:hover,
.contacts-item:focus {
        fill: var(--blue-color);
}

/* ----------HERO---------- */

.hero{
        text-align: center;
        padding-top: 200px;
        padding-bottom: 200px;
        background-color: #C4C4C4;
        background-image: linear-gradient(to right, 
        rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        max-width: 1600px;
        margin: 0 auto;
}       

.hero-content {
        
}

.hero-title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--white-color);
        margin: auto;
        margin-bottom: 30px;
        width: 696px;
}

.hero-btn {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: var(--white-color);
        cursor: pointer;
        padding: 10px 32px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: transparent;
        min-width: 200px;
        background: var(--blue-color)
}

.hero-btn:hover,
.hero-btn:focus {
        color: var(--white-color);
        background: #188CE8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
}

/* ----------PLUS---------- */

.plus {
        padding-top: 94px;
}

.plus-list {
        display: flex;
        column-gap: 30px;
}

.plus-item {
        width: 270px;
}

.plus-item:not(:last-child) {
        column-gap: 30px;
}





.background {
        height: 120px;
        background-color: #F5F4FA;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
}




.plus-title {
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--dark-color);
        margin-bottom: 10px;
}

.plus-text {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--grey-color);
}

/* ----------WORKING---------- */

.working {
        text-align: center;
        padding-top: 94px;
        padding-bottom: 94px;
}

.working-title {
        font-size: 36px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        color: var(--dark-color);
        margin-bottom: 50px;
}

.working-list {
        display: flex;
        gap: 30px;
}



.working-item {
        width: calc((100% - 60px) / 3);
}

/* ----------TEAM---------- */

.team {
    background-color: #F5F4FA;
    text-align: center;
}

.team-title {
        font-size: 36px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        color: var(--dark-color);
        margin-bottom: 50px;
}

.team-list {
        display: flex;
        gap: 30px;

}

.team-item {
        width: calc((100% - 90px) / 4);
        background: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
}

.team-text {
        padding-top: 30px;
        padding-bottom: 30px;
}

.team-names-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--dark-color);
        padding-bottom: 10px;
}

.team-post {
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--grey-color);
        margin-bottom: 16px;
}

.team-soc {
        display: flex;
        justify-content: center;
        gap: 10px;

}

.team-soc-link {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: #AFB1B8;
}


.team-soc-link:hover,
.team-soc-link:focus 
{
        background-color: var(--blue-color);
        fill: var(--white-color);
}

/* ----------CLIENTS---------- */

.clients-title {
                font-weight: 700;
                font-size: 36px;
                line-height: 42px;
                text-align: center;
                letter-spacing: 0.03em;
                color: var(--dark-color);
                margin-bottom: 50px;
}


.clients-list {
        display: flex;
        column-gap: 30px;
}


.clients-item:not(:last-child) {
        column-gap: 30px;
}


.clients-link {
                width: 170px;
                height: 92px;
                border: 1px solid var(--icon-color);
                border-radius: 4px;
                display: flex;
                align-items: center;
                justify-content: center;
                fill: var(--icon-color);
}


.clients-link:hover,
.clients-link:focus {
        fill: var(--blue-color);
        border-color: var(--blue-color);
}


/* ----------FOOTER---------- */

.footer {
    background-color: #2F303A;
    /* padding-top: 60px;
    padding-bottom: 60px; */
}

.footer-logo {
        font-family: 'Raleway', sans-serif;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--white-color);
}

.address {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        margin-top: 20px;
}

.address-list {}

.address-item {
        margin-bottom: 9px;
}

.address-item-second {
        margin-bottom: 9px;
}

.address-item-third {}

.logo-address {
                min-width: 231px;
                padding-top: 60px;
                padding-bottom: 60px;
}

.soc-footer {
                min-width: 206px;
                min-height: 80px;
                padding-left: 70px;
                padding-top: 72px;
                padding-bottom: 100px;

}

.soc-footer-title {
                font-weight: 700;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 0.03em;
                text-transform: uppercase;
                color: var(--white-color);
                margin-bottom: 20px;
}

.soc-footer-list {
                display: flex;
                gap: 10px;
}

.soc-footer-link {
                width: 44px;
                height: 44px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                fill: var(--white-color);
                background-color: rgba(255, 255, 255, 0.1);
}

.soc-footer-link:hover,
.soc-footer-link:focus {
        background-color: var(--blue-color);
}

.soc-footer-icon {

}


.address-link {
    color: var(--white-color);
}

.footer-contacts-link {
    color: rgba(255, 255, 255, 0.6);
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
    color: var(--blue-color);
}

.footer .container {
        display: flex;
}

/* ----------CURRENT---------- */

.current {
    color: var(--blue-color);
}

/* ----------PORTFOLIO---------- */

.portfolio {}

.portfolio-btn-list {
        display: flex;
        margin-bottom: 50px;
        gap: 8px;
        justify-content: center;
}

.portfolio-btn-item:not(:last-child) {
        gap: 8px;
}

.portfolio-btn-item {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        letter-spacing: 0.03em;
        color: var(--dark-color);
        cursor: pointer;
        background: #F5F4FA;
        border-radius: 4px;
        border: transparent;
        min-height: 38px;
        padding-left: 22px;
        padding-right: 22px;
}

.portfolio-btn-item:hover,
.portfolio-btn-item:focus {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        letter-spacing: 0.03em;
        color:var(--white-color);
        background: #2196F3;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
}

.portfolio-list {
        display: flex;
        flex-wrap: wrap;
}

.portfolio-item {
        margin-right: 30px;
        margin-bottom: 30px;
        flex-basis: calc((100% - 60px) / 3);
        background: var(--white-color);

}

.portfolio-item:hover {
        background: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
}

.portfolio-item:nth-child(3n) {
        margin-right: 0;
}

.portfolio-item:nth-last-child(-n +3 ) {
        margin-bottom: 0;
}

.portfolio-text {
        border-bottom: 1px solid #EEEEEE;
        border-right: 1px solid #EEEEEE;
        border-left: 1px solid #EEEEEE;
        padding: 20px 24px;
}

.portfolio-title {
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--dark-color);
        padding-bottom: 4px;

}

.portfolio-after-title {
        font-size: 16px;
        line-height: 1.8;
        letter-spacing: 0.03em;
        color: var(--grey-color);
        
}

